{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
<p style="font-family:open sans;font-weight:bold;font-size:20px;">
   At a time when many brands are pivoting toward more video and social media marketing, is blogging still important? The answer is a resounding “yes!” For businesses just starting to flesh out a marketing strategy, blogging is a marketing tool with a low barrier to entry and a tangible payoff. For more established brands, a blog is an ideal anchor for a multi-faceted marketing strategy.

A consistently updated, the high-quality blog remains the ideal way to drive traffic and grow your brand. As our friends at Crazy Egg point out, when a blog is managed well, it boosts your inbound leads in a major way. Google loves a meaty, frequently updated blog, rewarding great content with higher search engine rankings as an overall trend.

Blogging is also the perfect way to establish a brand voice, becoming recognizable to customers and growing loyalty. A great blog shows that your brand has its own unique personality, has tons of interesting information to knowledge-drop, and is worth spending time with.




</p>


{% endblock content %}
